:root {
  --color-orange: orangered;
  --color-black: #2a2a2a;
  --color-white: white;

  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.574);

  --body-bg: rgb(187, 218, 236);
  --text-color: var(--color-black);

  --dark-bg: var(--color-black);
  --dark-text-color: var(--color-white);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
}

/* .joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
} */

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}
.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

.title {
  text-align: center;
}

.title span {
  border-bottom: 2px solid var(--color-orange);
  font-size: 2rem;
}

/* dark Mode toggler */
[for="darkMode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}

[for="darkMode"]:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s;
}

#darkMode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
}

#darkMode {
  display: none;
}

/* hamburgerMenu */

#hamburgerMenu {
  display: none;
}

[for="hamburgerMenu"] {
  display: none;
}

/* <!-- navbar section --> */
header {
  box-shadow: var(--shadow);
  background-color: var(--body-bg);
  position: sticky;
  top: 0;
}

header .header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;

  position: absolute;
  left: 27%;
}

.navigation {
  list-style-type: none;
}

.navigation li:hover {
  color: var(--color-orange);
  cursor: pointer;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

/* hero section */
.hero-section {
  margin-top: 3rem;
  max-height: 60vh;
  padding-top: 7rem;
}

.hero {
  background: var(--color-orange);
  box-shadow: var(--shadow);
  padding: 2rem;
  grid-template-areas: "left right";
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.left span {
  font-size: 1.3rem;
  font-weight: bold;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 5px;
}

.left button {
  background: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: left;
  margin-top: -5rem;
}

/* <!-- banner --> */
.banner {
  margin-top: 20rem;
  border: 2px solid grey;
  border-radius: 12px;
  background: var(--body-bg);
  color: var(--text-color);
  padding: 2rem;
  box-shadow: var(--shadow);

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icon-container {
  background: var(--color-orange);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
}
.info-content div span {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

.info-content div p {
  color: var(--color-orange);
}

.info-divider {
  background: var(--color-orange);
  width: 2px;
  height: 7vh;
}

/* <!-- skills --> */
.skills {
  margin-top: 7rem;
  padding-top: 7rem;
}

.skills-container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skills-container > div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.skills-container > div i {
  font-size: 3rem;
}

/* <!-- Projects --> */
.projects {
  margin-top: 5rem;
  padding-top: 7rem;
}

.project-container {
  grid-template-columns: repeat(2, 1fr);
}

.project-card {
  box-shadow: var(--shadow);
  padding: 1rem;
}

.project-card .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
/* <!-- about  --> */
.about {
  margin-top: 5rem;
  padding: 7rem;
  background: rgba(255, 255, 0, 0.268);
}

.my-bio h2 {
  font-size: 2rem;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.my-bio p:nth-child(3),
.my-bio .tag {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.my-bio .tag + div > span {
  padding: 1rem 1.2 rem;
  border-radius: 5px;
}

.my-bio .tag + div > span:hover {
  background-color: grey;
  transform: scale(1.4);
  transition: all 0.1s;
  cursor: pointer;
}

/* <!-- Contact --> */
.contact {
  margin-top: 4rem;
  /* padding: 3rem 0; */
  padding-top: 7rem 0;
}

.contact-details {
  flex-direction: column;
}

.contact-icons {
  justify-content: space-between;
  font-size: 4rem;
  gap: 2rem;
}

.email {
  background: var(--color-black);
  padding: 1rem 2rem;
  color: var(--color-white);
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.email .email-icon {
  background: var(--color-orange);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
/* Footer */
footer {
  background: var(--color-black);
  color: white;
  margin-top: 2rem;
  min-height: 30vh;
  flex-direction: column;
}

footer .top {
  gap: 5rem;
}
.top ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.top ul li {
  line-height: 1.5rem;
}

/* GoUP */
.goup-arrow {
  font-size: 3rem;
  background: var(--color-orange);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
}

/* media query */
@media (max-width: 768px) {
  /* hamburgerMenu */
  [for="hamburgerMenu"] {
    display: block;
    cursor: pointer;
  }

  .menu {
    background: var(--body-bg);
    position: absolute;
    top: 3.7rem;
    width: 250px;
    height: 100vh;
    box-shadow: var(--shadow);
    left: 100vw;
    transition: all 0.3s linear;
  }

  .menu .navigation {
    flex-direction: column;
    font-size: 1.3rem;
  }
  .menu .navigation li {
    line-height: 2.5rem;
  }

  #hamburgerMenu:checked + .menu {
    left: calc(100vw - 250px);
  }

  /* hero section */
  .hero {
    grid-template-areas: "right" "left";
  }

  .hero .right {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  /* banner */
  .banner {
    margin-top: 40rem;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 14rem;
  }
  .info-divider {
    display: none;
  }

  /* project  section */
  .project-container {
    grid-template-columns: 1fr;
  }

  /* about  */
  .about-content {
    flex-direction: column;
  }
}
